/* @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    --font-montserrat: "Montserrat", sans-serif;
    --breakpoint-sm: 36rem;   /* 576px */
    --breakpoint-md: 48rem;   /* 768px */
    --breakpoint-lg: 62rem;   /* 992px */
    --breakpoint-xl: 75rem;   /* 1200px */
    --breakpoint-xxl: 87.5rem; /* 1400px */

    --color-primary: #8BC34A;
    --color-secondary: #FCD345;
}

.container {
  @apply mx-auto px-4 sm:px-0 
    sm:max-w-[33.75rem]   /* 540px */
    md:max-w-[45rem]      /* 720px */
    lg:max-w-[60rem]      /* 960px */
    xl:max-w-[71.25rem]   /* 1140px */
    xxl:max-w-[85.625rem]; /* 1370px (Custom) */
}

